flows/starter/part3_starter.json
[{"id":"46d53d66.69f3cc","type":"tab","label":"Tello SDK commands","disabled":false,"info":""},{"id":"1cb2b9b9.e77ace","type":"udp out","z":"46d53d66.69f3cc","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"52955","base64":false,"multicast":"false","x":590,"y":200,"wires":[]},{"id":"88548e31.2e5e88","type":"debug","z":"46d53d66.69f3cc","name":"","active":true,"console":"false","complete":"false","x":550,"y":160,"wires":[]},{"id":"90bc3fbe.50d47","type":"comment","z":"46d53d66.69f3cc","name":"1 - Connexion à TELLO-NNNNNN WiFi","info":"","x":200,"y":100,"wires":[]},{"id":"f17f9da4.da9ce","type":"link in","z":"46d53d66.69f3cc","name":"TelloControls-In","links":["3c8f9e99.f65c2a"],"x":95,"y":180,"wires":[["21ca8590.71ad42"]]},{"id":"bf6321d4.c76c98","type":"udp in","z":"46d53d66.69f3cc","name":"","iface":"","port":"52955","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":140,"y":360,"wires":[["7b66039c.d109b4"]]},{"id":"7b66039c.d109b4","type":"debug","z":"46d53d66.69f3cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"c85199e8.9aa978","type":"comment","z":"46d53d66.69f3cc","name":"Receive Return Strings","info":"The UDP input node listens for return values","x":160,"y":320,"wires":[]},{"id":"5c9acd48.c78bfc","type":"comment","z":"46d53d66.69f3cc","name":"Envoyer des commandes","info":"Cette section du flux formate la commande Tello\nen une seule chaîne de caractères à envoyer au drone.\n\nLe format est [commande] [valeurs optionnelles]\n\nPour obtenir la liste des commandes du SDK Tello, visitez le site\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf","x":190,"y":140,"wires":[]},{"id":"a906e629.f60c","type":"comment","z":"46d53d66.69f3cc","name":"================================ Envoyer des commandes au drone ==========================","info":"","x":400,"y":60,"wires":[]},{"id":"e6c41a97.6994e","type":"comment","z":"46d53d66.69f3cc","name":"================================ Recupération des messages du drone =========================","info":"","x":400,"y":280,"wires":[]},{"id":"2a71860e.072c02","type":"inject","z":"46d53d66.69f3cc","name":"Land","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":130,"y":480,"wires":[["178a383e.79a6b8"]]},{"id":"9a167994.476a88","type":"inject","z":"46d53d66.69f3cc","name":"TakeOff","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":130,"y":520,"wires":[["788037a.55fa048"]]},{"id":"61fcc550.043e44","type":"delay","z":"46d53d66.69f3cc","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":150,"y":560,"wires":[["f0e47800.b60cf8"]]},{"id":"f0e47800.b60cf8","type":"change","z":"46d53d66.69f3cc","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["3c8f9e99.f65c2a"]]},{"id":"788037a.55fa048","type":"change","z":"46d53d66.69f3cc","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[["61fcc550.043e44","3c8f9e99.f65c2a"]]},{"id":"178a383e.79a6b8","type":"change","z":"46d53d66.69f3cc","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":480,"wires":[["3c8f9e99.f65c2a"]]},{"id":"3c8f9e99.f65c2a","type":"link out","z":"46d53d66.69f3cc","name":"TelloControls-Out","links":["f17f9da4.da9ce"],"x":695,"y":520,"wires":[]},{"id":"79c3138.3dac3ec","type":"comment","z":"46d53d66.69f3cc","name":"============================ Envoie des commandes Tello SDK =========================","info":"Pour la liste de commandes, visiter :\n\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf","x":380,"y":440,"wires":[]},{"id":"21ca8590.71ad42","type":"change","z":"46d53d66.69f3cc","name":"formatage du message de sortie","rules":[{"t":"set","p":"payload","pt":"msg","to":"$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["1cb2b9b9.e77ace","88548e31.2e5e88"]]},{"id":"baeb70ba46d6cda8","type":"ui_button","z":"46d53d66.69f3cc","name":"","group":"29962ec0c6a9241e","order":0,"width":0,"height":0,"passthru":false,"label":"TakeOff","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":500,"wires":[["788037a.55fa048"]]},{"id":"29962ec0c6a9241e","type":"ui_group","name":"Tello","tab":"e07159fd23816617","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e07159fd23816617","type":"ui_tab","name":"Tello","icon":"dashboard","disabled":false,"hidden":false}]
